@page "/plugins/blazor-table"
@namespace Blazorized.AdminLte.Plugins.Shared.Pages
<ContentHeader>
    <Header>
        Index
    </Header>
</ContentHeader>
<ContentMain>
    <Blazor.AdminLte.Card>
        <Title>Blazor Table</Title>
        <Body>
            <BlazorTable.Table TableItem="PersonData" Items="data" PageSize="15" ColumnReorder="true" TableRowClass="@(x => x.RowClass)">
                <BlazorTable.Column TableItem="PersonData" Title="Id" Field="@(x => x.id)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true" />
                <BlazorTable.Column TableItem="PersonData" Title="Full Name" Field="@(x => x.full_name)" Sortable="true" Filterable="true" Width="20%" />
                <BlazorTable.Column TableItem="PersonData" Title="Email" Field="@(x => x.email)" Sortable="true" Filterable="true" Width="20%">
                    <Template>
                        <a href="mailto:@context.email">@context.email</a>
                    </Template>
                </BlazorTable.Column>
                <BlazorTable.Column TableItem="PersonData" Title="Paid" Field="@(x => x.paid)" Sortable="true" Filterable="true" Width="10%">
                    <Template>
                        @context.paid.ToString()
                    </Template>
                </BlazorTable.Column>
                <BlazorTable.Column TableItem="PersonData" Title="Price" Field="@(x => x.price)" Sortable="true" Filterable="true" Width="10%" Format="C" Align="Align.Right" />
                <BlazorTable.Column TableItem="PersonData" Title="Created Date" Field="@(x => x.created_date)" Sortable="true" Filterable="true" Width="10%">
                    <Template>
                        @(context.created_date.HasValue ? context.created_date.Value.ToShortDateString() : string.Empty)
                    </Template>
                </BlazorTable.Column>
                <BlazorTable.Column TableItem="PersonData" Title="Enum" Field="@(x => x.cc_type)" Sortable="true" Filterable="true" Width="10%">
                    <Template>
                        @context.cc_type
                    </Template>
                </BlazorTable.Column>
                <DetailTemplate TableItem="PersonData" Context="context2">
                    <BlazorTable.Table TableItem="PersonData" Items="data" PageSize="15" ColumnReorder="true" TableRowClass="@(x => x.RowClass)" style="background-color: white;">
                        <BlazorTable.Column TableItem="PersonData" Title="Id" Field="@(x => x.id)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true" />
                        <BlazorTable.Column TableItem="PersonData" Title="Full Name" Field="@(x => x.full_name)" Sortable="true" Filterable="true" Width="20%" />
                        <BlazorTable.Column TableItem="PersonData" Title="Email" Field="@(x => x.email)" Sortable="true" Filterable="true" Width="20%">
                            <Template>
                                <a href="mailto:@context.email">@context.email</a>
                            </Template>
                        </BlazorTable.Column>
                        <BlazorTable.Column TableItem="PersonData" Title="Paid" Field="@(x => x.paid)" Sortable="true" Filterable="true" Width="10%">
                            <Template>
                                @context.paid.ToString()
                            </Template>
                        </BlazorTable.Column>
                        <BlazorTable.Column TableItem="PersonData" Title="Price" Field="@(x => x.price)" Sortable="true" Filterable="true" Width="10%" Format="C" Align="Align.Right" />
                        <BlazorTable.Column TableItem="PersonData" Title="Created Date" Field="@(x => x.created_date)" Sortable="true" Filterable="true" Width="10%">
                            <Template>
                                @(context.created_date.HasValue ? context.created_date.Value.ToShortDateString() : string.Empty)
                            </Template>
                        </BlazorTable.Column>
                        <BlazorTable.Column TableItem="PersonData" Title="Enum" Field="@(x => x.cc_type)" Sortable="true" Filterable="true" Width="10%">
                            <Template>
                                @context.cc_type
                            </Template>
                        </BlazorTable.Column>
                        <Pager ShowPageNumber="true" ShowTotalCount="true" />
                    </BlazorTable.Table>
                </DetailTemplate>
                <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
            </BlazorTable.Table>
        </Body>
    </Blazor.AdminLte.Card>
</ContentMain>